In [1]:
import pandas as pd

In [2]:
draft2018 = pd.read_csv("2018DraftCollege.csv")
draft2018.head()

,Rk,Player,G,GS,MP,PER,TS%,eFG%,3PAr,FTr,...,USG%,Unnamed: 19,OWS,DWS,WS,WS/40,Unnamed: 24,OBPM,DBPM,BPM
0,1,Collin Sexton,33,32,987.0,23.5,0.567,0.498,0.299,0.575,...,32.9,NaN,3.2,1.2,4.4,0.177,NaN,6.5,0.0,6.5
1,1,Deandre Ayton,35,35,1172.0,32.6,0.650,0.625,0.078,0.424,...,26.6,NaN,5.5,2.1,7.6,0.259,NaN,6.8,4.0,10.9
2,2,Allonzo Trier,33,33,1124.0,22.6,0.656,0.595,0.500,0.503,...,23.9,NaN,4.5,1.0,5.5,0.196,NaN,7.9,-0.2,7.7
3,1,Chandler Hutchison,31,31,961.0,25.9,0.575,0.528,0.296,0.519,...,33.2,NaN,2.8,2.2,5.0,0.208,NaN,3.6,4.3,7.9
4,2,Jacob Evans,36,36,1107.0,20.5,0.543,0.507,0.430,0.302,...,22.5,NaN,2.8,3.1,5.9,0.213,NaN,4.5,6.1,10.6

In [3]:
draft2018 = draft2018.loc[:, ~draft2018.columns.str.contains('^Unnamed')]
draft2018.head()

,Rk,Player,G,GS,MP,PER,TS%,eFG%,3PAr,FTr,...,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40,OBPM,DBPM,BPM
0,1,Collin Sexton,33,32,987.0,23.5,0.567,0.498,0.299,0.575,...,0.3,14.2,32.9,3.2,1.2,4.4,0.177,6.5,0.0,6.5
1,1,Deandre Ayton,35,35,1172.0,32.6,0.650,0.625,0.078,0.424,...,6.1,11.3,26.6,5.5,2.1,7.6,0.259,6.8,4.0,10.9
2,2,Allonzo Trier,33,33,1124.0,22.6,0.656,0.595,0.500,0.503,...,1.1,13.3,23.9,4.5,1.0,5.5,0.196,7.9,-0.2,7.7
3,1,Chandler Hutchison,31,31,961.0,25.9,0.575,0.528,0.296,0.519,...,0.9,16.2,33.2,2.8,2.2,5.0,0.208,3.6,4.3,7.9
4,2,Jacob Evans,36,36,1107.0,20.5,0.543,0.507,0.430,0.302,...,3.7,12.7,22.5,2.8,3.1,5.9,0.213,4.5,6.1,10.6

In [4]:
draft2018 = draft2018.drop('Rk', 1)
draft2018.head()

,Player,G,GS,MP,PER,TS%,eFG%,3PAr,FTr,PProd,...,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40,OBPM,DBPM,BPM
0,Collin Sexton,33,32,987.0,23.5,0.567,0.498,0.299,0.575,622.0,...,0.3,14.2,32.9,3.2,1.2,4.4,0.177,6.5,0.0,6.5
1,Deandre Ayton,35,35,1172.0,32.6,0.650,0.625,0.078,0.424,666.0,...,6.1,11.3,26.6,5.5,2.1,7.6,0.259,6.8,4.0,10.9
2,Allonzo Trier,33,33,1124.0,22.6,0.656,0.595,0.500,0.503,558.0,...,1.1,13.3,23.9,4.5,1.0,5.5,0.196,7.9,-0.2,7.7
3,Chandler Hutchison,31,31,961.0,25.9,0.575,0.528,0.296,0.519,603.0,...,0.9,16.2,33.2,2.8,2.2,5.0,0.208,3.6,4.3,7.9
4,Jacob Evans,36,36,1107.0,20.5,0.543,0.507,0.430,0.302,461.0,...,3.7,12.7,22.5,2.8,3.1,5.9,0.213,4.5,6.1,10.6

In [5]:
list(draft2018)

['Player',
 'G',
 'GS',
 'MP',
 'PER',
 'TS%',
 'eFG%',
 '3PAr',
 'FTr',
 'PProd',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'OWS',
 'DWS',
 'WS',
 'WS/40',
 'OBPM',
 'DBPM',
 'BPM']

In [6]:
draft2018[draft2018['Player'].isnull()]

Empty DataFrame
Columns: [Player, G, GS, MP, PER, TS%, eFG%, 3PAr, FTr, PProd, ORB%, DRB%, TRB%, AST%, STL%, BLK%, TOV%, USG%, OWS, DWS, WS, WS/40, OBPM, DBPM, BPM]
Index: []

[0 rows x 25 columns]

In [7]:
draft2018.rename(columns={'WS/48':'WS_per_48'}, inplace=True)

In [8]:
draft2018.columns = draft2018.columns.str.replace('%', '_Perc')

In [9]:
print(draft2018.columns)

Index(['Player', 'G', 'GS', 'MP', 'PER', 'TS_Perc', 'eFG_Perc', '3PAr', 'FTr',
       'PProd', 'ORB_Perc', 'DRB_Perc', 'TRB_Perc', 'AST_Perc', 'STL_Perc',
       'BLK_Perc', 'TOV_Perc', 'USG_Perc', 'OWS', 'DWS', 'WS', 'WS/40', 'OBPM',
       'DBPM', 'BPM'],
      dtype='object')

In [10]:
draft2018.dtypes

Player       object
G             int64
GS            int64
MP          float64
PER         float64
TS_Perc     float64
eFG_Perc    float64
3PAr        float64
FTr         float64
PProd       float64
ORB_Perc    float64
DRB_Perc    float64
TRB_Perc    float64
AST_Perc    float64
STL_Perc    float64
BLK_Perc    float64
TOV_Perc    float64
USG_Perc    float64
OWS         float64
DWS         float64
WS          float64
WS/40       float64
OBPM        float64
DBPM        float64
BPM         float64
dtype: object

In [11]:
draft2018 = draft2018[:].fillna(0)

In [13]:
draft2018.isnull().sum()

Player      0
G           0
GS          0
MP          0
PER         0
TS_Perc     0
eFG_Perc    0
3PAr        0
FTr         0
PProd       0
ORB_Perc    0
DRB_Perc    0
TRB_Perc    0
AST_Perc    0
STL_Perc    0
BLK_Perc    0
TOV_Perc    0
USG_Perc    0
OWS         0
DWS         0
WS          0
WS/40       0
OBPM        0
DBPM        0
BPM         0
dtype: int64

In [14]:
draft2018.to_csv("draft2018CollegeAdvanced.csv")